
.lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.lobby-index-wrapper {
  height: 80%;
}

.lobby-index ul {
  overflow-x: hidden;
  overflow-y: scroll;
}

.lobby-index ul::-webkit-scrollbar {
    width: 7px;
    border-radius: 2px;
}
 
.lobby-index ul::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid darkslategray;
  border-radius: 2px;
}

.lobby-index-item a {
  color: white;
  font-size: 30px;
}

.lobby-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form{
    width: 100%;
  }
}

#messages {
  border: 2px solid gray;
  background: black;
  border-radius: 5px;
  height: 80px;
  width: 250px;
  padding: 5px;
  padding-bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 0
}

#messages::-webkit-scrollbar {
    width: 7px;
    border-radius: 2px;
}
 
#messages::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid darkslategray;
  border-radius: 2px;
}

.lobby-list {
  width: 20%;
  // margin: 0 auto;
  height: 100%;
  overflow: hidden;
  li, a{
    list-style: decimal;
    text-decoration: none;
    font-size: 1.2em;
    color: $dark-theme-text;
  }
}

.lobby-list-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: hidden;
  h3{
    margin: 0;
  }
}