$dark-theme: rgb(31, 30, 30);
$dark-theme-text: rgb(230, 218, 218);
$dark-theme-input: #060605;

$old-school-green: #90c040;

$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

$orange-accent: #da552f;
$orange-button: orange;
$orange-button-hover: rgb(226, 181, 96);

$background-gray: rgb(240, 240, 240);
$form-gray: whitesmoke;

$text-darkgray: rgb(128, 126, 126);
