.field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, p, span{
  font-family: 'Silver';
  color: $old-school-green;
}

input[type="text"], input[type="password"], textarea {
  width: 100%;
  background-color: $dark-theme-input;
  color: #fff;
  padding: 5px;
  margin: 5px 0;
}

form {
  width: 20%;
  margin: 0 auto;
}

input[type="submit"], button {
  font-family: inherit;
  font-size: 1.5em;
  background-color: $dark-theme-input;
  color: #fff;
  font-weight: bold;
}

.login-form-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center
}

h3 {
  font-size: 2.5em;
}